/*
    ? Name: Cookie Clicker
    ! Author: BarPos (https://twitter.com/BarPosWasTaken)
    * GitHub: https://github.com/BarPosWasTaken/cookie.barpos.net
*/

*{
    font-family: 'Gochi Hand', cursive;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* ? Body */

body{
    background: url(graphics/bg.png) repeat;
    animation: scroll 60s linear infinite;
}

/* * Body */

/* ? Fixed */

#twitter{
    position: fixed;

    bottom: 5px;
    right: 30px;

    transform: scale(1.25);
}

#patreon{
    position: fixed;

    bottom: -2px;
    right: 190px;

    transform: scale(.5);
}

#patreonImg{
    background: url(graphics/patreon.png);
    background-size: 100%;
    width: 156px;
    height: 50px;
}

/* * Fixed */

/* ? Container */

#container{
    width: 350px;
    height: fit-content;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
}

/* * Container */

/* ? Cookie Count */

#cookiesTextImg{
    height: 30px;
    width: 119.6px;
    float: left;
    background: url(graphics/text/cookies.png);
    background-size: 100%;
}

#cookiesText{
    font-size: 28px;
}

/* * Cookie Count */

/* ? Cookie Button */

#cookieBtn{
    width: min-content;
    height: min-content;
}

.cookieImage{
    background: url(graphics/cookie.png);
    background-size: 100%;
    width: 300px;
    height: 300px;
    transition: .1s;
}

/* * Cookie Button */

/* ? ClickMultiplier Button */

#clickmultiplierBtn{
    cursor: pointer;
}

#clickmultiplierImg{
    background: url(graphics/buttons/clickmultiplier.png);
    background-size: 100%;
    width: calc(565px * 0.3);
    height: calc(134px * 0.3);
    transition: .1s;
}

#buyclickmultiplierText{
    font-size: 19px;
}

/* * Clickmultiplier Button */

/* ? Autoclicker Button */

#autockickerBtn{
    cursor: pointer;
}

#autoclickerImg{
    background: url(graphics/buttons/autoclicker.png);
    background-size: 100%;
    width: calc(550px * 0.3);
    height: calc(134px * 0.3);
    transition: .1s;
}

#buyautoclickerText{
    font-size: 19px;
}

/* * Autoclicker Button */

/* ? Animations */

@keyframes scroll{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1920px -1080px;
    }
}

/* * Animations */